<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>食譜.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C19682381DD9A75F009C3FFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C196824C1DD9A760009C3FFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C19682571DD9A760009C3FFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
